*.exe
*.bin
*.csv
*.edges
*.dict
vs/generator/generator.v11.suo
vs/generator/generator.opensdf
vs/generator/generator.sdf
vs/generator/Release/*
vs/generator/Debug/*
vs/generator/*/Release/*
vs/generator/*/Debug/*
vs/generator/*/*/Release/*
vs/generator/*/*/Debug/*
